query2box/
*/*result*/*
*result/*
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
data/*
data_optimized/*
data_small/*
temp_data/*
fine-tuning/*_models/*
fine-tuning/wandb/*
*/*.err
*/*.out
benchmark_general/wandb/*
benchmark_general/figures/*
benchmark_general/*.html
data_generation/de_morgan/*.csv
data_generation/fever_dataset/*.csv
data_generation/fever_dataset/*.jsonl
data_generation/fever_dataset/*.zip
data_generation/fever_dataset/*.html
data_generation/fever_dataset/wiki-pages/*
data_generation/syllogism_query/*.csv
data_generation/fever_dataset/__MACOSX/*
data_optimized.zip
.DS_Store